# Application
APP_PORT=7878

# DATABASE
POSTGRES_USER=journal
POSTGRES_PASSWORD=journal_secret
POSTGRES_DB=job_journal
POSTGRES_PORT=5999
POSTGRES_HOST=localhost

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# AUTH / JWT
JWT_ACCESS_SECRET=dev_access_secret_change_me
JWT_REFRESH_SECRET=dev_refresh_secret_change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
